<div class="header" >
  <a class="header__title" href="#">Thiago Matheus</a>
  <div class="header__menu">
    <ul class="header__list">
      <li class="header__item" *ngFor="let menu of menus">
        <a class="header__link" [href]="'#' + menu.id">{{ menu.label }}</a>
      </li>
    </ul>

    <div class="header__hamburger">
      <input type="checkbox" id="checkbox-menu" [(ngModel)]="showModal">
      <label for="checkbox-menu">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
  </div>
</div>

<div class="modal modal__animation" *ngIf="showModal">
  <div class="header__hamburger">
    <input type="checkbox" id="checkbox-menu" [(ngModel)]="showModal">
    <label for="checkbox-menu">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <ul class="modal__list">
    <li class="modal__item" *ngFor="let menu of menus">
      <a class="modal__link" (click)="navigate(menu.id)">{{ menu.label}}</a>
    </li>
  </ul>
</div>
<div class="modal__overlay" *ngIf="showModal"></div>
