.bg {
  height: 100vh;
  background: rgb(29, 28, 28);
  width: 100vw;
  margin-left: calc(50% - 50vw);

  // @media (max-width: 425px) {
  //   width: 100%;
  //   margin: 0;
  // }
}

.container {
  max-width: 1280px;
  margin: 0 auto;

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 4.5rem 1.5rem;

  .about-me__content {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .about-me__title {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .about-me__text{
    font-size: 2rem;
  }
}

.portfolio {
  background: rgb(29, 28, 28);
  color: #fff;
  text-align: center;
  padding: 75px 0;
  width: 100vw;
  margin-left: calc(50% - 50vw);

  .portfolio__title {
    font-size: 2.125rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.235;
    letter-spacing: 0.00735em;
  }
}

.card-projects__title {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin: 3rem 0;
}

.card-projects {
  display: flex;
  gap: 2rem;
  padding: 0 1.5rem;
  margin-bottom: 3rem;

  @media (max-width: 425px) {
    flex-direction: column;

}
}

.technologies__title {
  font-size: 2.125rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight:500;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  text-align: center;
  margin-bottom: 2rem;
}
.technologies {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
}


.footer {
  background: rgb(29, 28, 28);
  color: #fff;
  text-align: center;
  padding: 75px 0;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}
}



