<div class="container">
  <app-header></app-header>
  <div class="bg">
    <app-myprofile></app-myprofile>
  </div>
  <div id="about-me"></div>
  <div class="about-me">
    <div class="about-me__content">
      <p class="about-me__title">Ei!</p>
      <p class="about-me__text">Eu sou Thiago Matheus!<br>
        Sou desenvolvedor Front-End do interior de São Paulo, gosto de pensar em coisas criativas para programar, sou fã de games em geral!<br>
        Sinta-se à vontade para entrar em contato ou dar uma olhada no meu trabalho anterior abaixo.</p>
    </div>
  </div>

  <div class="portfolio" id="portfolio">
    <h4 class="portfolio__title">Portfólio</h4>
  </div>

  <h2 class="card-projects__title">Meus principais projetos</h2>
  <div class="projects">
    <app-card-projects class="card-projects" *ngFor="let card of projects" [data]="card"></app-card-projects>
  </div>

  <h2 class="technologies__title" id="technologies">Tecnologias</h2>
  <div class="technologies">
    <app-card-technologies class="technologies__card" *ngFor="let item of technologies"
      [data]="item"></app-card-technologies>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>


<router-outlet></router-outlet>
