/* You can add global styles to this file, and also import other style files */
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 200;
}

a {
  text-decoration: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #fff;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;

}


